build/
out/
.vs/
.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
*.user
*.suo
*.vcxproj*
*.exe
*.pdb
*.obj
*.ilk

# example build outputs
examples/**/build/

# local captures / artifacts
guest.txt
logs/

# BIOS (ne pas versionner par défaut)
bios/*.bin
bios/*.rom